@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

h1, h2, h3, h4, h5, p, button, input, textarea, span, a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	border: none;
}

p {
	color: #fff;
	font-size: 18px;
	font-weight: 400;
	text-align: justify;
}

.capitulos-titulos-azul {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
	color: #2962FF;
	text-transform: uppercase;
}

.capitulos-titulos-branco {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	margin-bottom: 80px;
	color: #fff;
	text-transform: uppercase;
}

.icones-azul {
	font-size: 30px;
	text-align: center;
	display: block;
	color: #2962FF;
	text-decoration: none;
	padding: 5px;
}

.icones-branco {
	font-size: 30px;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

section {
	padding: 80px 0 80px 0;
}
/*
===  BOTÃO  ===
color: #fff;
background-color: #2962FF;
border-radius: 7px;
font-sizer: 20px;
border: 1px solid 2962FF;
font-weight: 400;
border-radius: 7px;
padding: 5px 12px;
===  BOTÃO HOVER  ===
color: #fff;
background-color: #133eb5;
border: 1px solid #133eb5;
transition: 0.25s;

===  TEXTO  ===
color: #333;
font-size: 18px;
text-align: justify;
font-weight: 400;

===  A  ====
color: ;
*/

/* === Inicio Nav === */
nav {
	background-color: #fff;
	border-bottom: 2px solid #2962FF;
}
.img-logo {
	max-width: 20%;
	margin-left: 120px;
}

.navbar-nav {
	padding-left: 30px;
}

.nav-link {
	padding: 0 10px;
	text-transform: uppercase;
	font-size: 14px;
	font-weight: 700;
	color: #000;
}

.nav-item > a:after {
    display: block;
    content: '';
    border-bottom: solid 2px #2962FF;
    transform: scaleX(0);
    transition: transform 330ms ease-in-out;
}

.nav-item > a:hover:after {
    transform: scaleX(1);
}

.nav-item > a:after {
    transform-origin: 0% 50%;
}

.nav-link:hover {
	color: #2962FF;
}
/* === Fim Nav === */
/* === Inicio Header === */
section#pagina-topo {
	background: url('../../imagens/fundo-2.jpeg') fixed;
    background-position: center;
    background-size: cover;
    height: 100vh;
}

section#pagina-topo img {
	margin: 0 auto;
	position: center;
	background-attachment: fixed;
	max-width: 300px;
}

section#pagina-topo div.digitando {
	text-transform: uppercase;
	font-size: 28px;
	text-shadow: 1px 3px 1px #000;
	color: #fff;
	text-align: center;
	font-weight: 700;
	font-family: 'Raleway';
	margin: 0 auto;
}

/* === Fim Header === */
/* === Inicio Empty Block === */
section#empty-block {
	background-color: #333;
}

section#empty-block p.eb-p {
	border-left: 3px solid #fff;
	border-right: 3px solid #fff;
	padding: 0 7px;
	max-width: 80%;
	margin: 0 auto;
}

section#empty-block i.icones-branco-eb {
	margin: 40px auto 0 auto;
	font-size: 30px;
	text-align: center;
	display: block;
	color: #fff;
	text-decoration: none;
	padding: 5px;
}

section#empty-block h4.sub-titulo {
	color: #fff;
	margin-bottom: 40px;
}

/* === Fim Empty Block === */
/* === Inicio Capacidades === */
section#capacidades .itens-capacidades {
	list-style-type: none;
	margin: 0;
	padding: 0 40px 40px 40px;
}

section#capacidades p.p-capacidades {
	text-align: center;
	font-size: 18px;
	color: #000 !important;
}
/* === Fim Capacidades === */

/* === Inicio Portifólio === */
section#portifolio {
	background-color: #333;
	padding: 80px 0 130px;
}

section#portifolio div.portifolio-card {
	margin: 7px;
	min-height: 499px;
	border-radius: 7px;
}

section#portifolio img.card-img-top,
section#portifolio iframe.card-img-top {
	height: 100%;
	max-height: 261px;
	border-radius: 7px;
}

section#portifolio h5.titulo-card {
	font-size: 20px;
	color: #2962FF;
	font-weight: 700;
	text-align: center;
	text-transform: uppercase;
	border-top: 1px solid #2962FF;
	margin: 0;
	padding-top: 15px;
}

section#portifolio div.card-body {
	padding-top: 0px;
}

section#portifolio p.texto-card-p {
	font-size: 16px;
	color: #333;
	text-decoration: none;
	text-align: center;
	min-height: 70px;
	height: 100%;
	margin: 15px 0 25px;
}

section#portifolio a.card-btn {
	color: #fff;
	background-color: #2962FF;
	border-radius: 7px;
	font-size: 20px;
	border: 1px solid #2962FF;
	text-transform: uppercase;
	font-weight: 400;
	border-radius: 7px;
	padding: 5px 12px;
}

section#portifolio a.card-btn:hover {
	color: #fff;
	background-color: #133eb5;
	border: 1px solid #133eb5;
	transition: 0.25s;
}

section#portifolio i.portifolio-icone {
	font-size: 21px;
	margin: 0;
	float: right;
	padding: 0 1px;
	opacity: 0.5;
}

section#portifolio i.portifolio-icone:hover,
section#portifolio img.portifolio-icone:hover {
	opacity: 1;
	transition: 0.25s;
}

section#portifolio img.portifolio-icone {
	width: 23px;
	margin: 0;
	float: right;
	padding: 0 1px;
	opacity: 0.5;
}

section#portifolio small span {
	float: left;
	font-size: 14px;
	margin: 0;
	padding: 0;
}
/* === Fim Portifólio === */

/* === Inicio Equipe === */

section#equipe div.card {
	width: 250px;
	min-height: 460px;
	height: auto;
	margin: 0 auto;
	border: 3px solid #2962FF;
}

section#equipe img.equipe-img {
	margin: 10px auto 0;
	width: 200px;
	height: 200px;
	border-radius: 100%;
}

section#equipe h5.equipe-card-titulo {
	color: #2962FF;
	font-size: 18px;
	font-weight: 700;
}

section#equipe img.icone-equipe {
	width: 16px;
	margin: 0;
	float: right;
	padding: 0;
}

section#equipe div.card-body p.equipe-card-texto-topo {
	color: #2962FF;
	font-size: 16px;
	padding: 0;
	margin: 0;
	text-align: center;
}

section#equipe div.card-body p.equipe-card-texto {
	font-size: 16px;
	color: #333;
	padding: 0;
	margin: 0;
	text-align: center;
}

section#equipe div.card-footer small a i {
	font-size: 18px;
	color: #2962FF;
	padding: 0 5px;
	margin: 0;
	text-align: center;
}

/* === Fim Equipe === */

/* === Inicio Contato === */
section#contato {
	background-color: #333;
}

section#contato a {
	color: #fff;
	text-decoration: none;
}

section#contato a i.redes-icones {
	width: 40px;
	height: 40px;
	border: 2px solid #fff;
	border-radius: 7px;
	font-size: 20px;
	padding: 9px 0 0 1px;
	text-align: center;
	margin: 10px;
}

section#contato a i.redes-icones:hover {
	width: 50px;
	height: 50px;
	font-size: 25px;
	padding: 10px 0 0 2px;
	margin: 10px 4px;
	transition: all 0.2s;
	text-align: center;
}

section#contato a span.redes-p {
	font-size: 18px;
	color: #fff;
	text-align: center;
	margin: 0;
}

section#contato input.contato-input {
	border: 1px solid #fff;
	font-size: 16px;
	border-radius: 7px;
	margin: 15px;
}

section#contato textarea.contato-textarea {
	border: 1px solid #fff;
	font-size: 16px;
	border-radius: 7px;
	margin: 15px;
}

section#contato button.contato-btn {
	color: #2962FF;
	background-color: #fff;
	border-radius: 7px;
	font-size: 20px;
	border: 1px solid #fff;
	text-transform: uppercase;
	font-weight: 400;
	margin: 5px;
	padding: 5px 12px;
	text-align: center;
}

section#contato button.contato-btn:hover {
	color: #fff;
	background-color: #133eb5;
	border: 1px solid #133eb5;
	transition: 0.25s;
}

section#contato form.formulario-contato {
	max-width: 80%;
	margin: auto;
}
/* === Fim Contato === */

/* === Inicio Rodape === */
footer#rodape {
	background-color: #333;
	border-top: 1px solid #fff;
	padding: 15px;
}

footer#rodape span {
	color: #fff;
	text-align: center;
	font-size: 14px
}

footer#rodape a.texto-rodape {
	text-align: center;
	color: #fff;
	font-size: 14px;
	text-decoration: none;
}

footer#rodape a.texto-rodape:hover {
	font-size: 16px;
	transition: 0.3s;
}
/* === Fim Rodape === */

/* === Inicio Btn Topo === */
div a.btn-fim-topo {
	z-index: 9999;
	display: table;
	position: fixed;
	right: 30px;
	bottom: 20px;
	width: 40px;
	height: 40px;
	border: 1px solid #2962FF;
	border-radius: 40px;
	background-color: #2962FF;
	opacity: 0.4;
}

div a.btn-fim-topo:hover {
	opacity: 1.0;
	transition: 0.4s;
}

div a i.seta-topo {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
	padding: 10px;
	opacity: 0.4;
}

div a i.seta-topo:hover {
	opacity: 1.0;
	transition: 0.4s;
	text-shadow: 1px 1px 1px #333;
}
/* === Fim Btn Topo === */