@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

h1, h2, h3, h4, h5, p, button, input, textarea, span, a {
	font-family: 'Raleway', sans-serif;
	font-weight: 400;
}

body {
	margin: 0;
	padding: 0;
	border: none;
}

p {
	color: #333;
	font-size: 18px;
	font-weight: 400;
	text-align: justify;
}

.capitulos-titulos {
	font-size: 32px;
	font-weight: 700;
	text-align: center;
	padding: 80px;
	color: #2962FF;
	text-transform: uppercase;
}

.icones-f {
	font-size: 30px;
	text-align: center;
	display: block;
	color: #2962FF;
	text-decoration: none;
	padding: 5px;
}
/*
===  BOTÃO  ===
color: #fff;
background-color: #2962FF;
border-radius: 7px;
font-sizer: 20px;
border: 1px solid 2962FF;
font-weight: 400;
border-radius: 7px;
padding: 5px 12px;
===  BOTÃO HOVER  ===
color: #fff;
background-color: #133eb5;
border: 1px solid #133eb5;
transition: 0.25s;

===  TEXTO  ===
color: #333;
font-size: 18px;
text-align: justify;
font-weight: 400;

===  A  ====
color: ;
*/

/* === Inicio Nav === */
.img-logo {
	max-width: 27%;
	margin-left: 120px;
}

.navbar-nav {
	padding-left: 18px;
}

.nav-item {
	padding: 0 15px;
}

/* === Fim Nav === */
/* === Inicio Header === */
section#pagina-topo {
	height: 100vh;
}
/* === Fim Header === */
/* === Inicio Empty Block === */
section#empty-block {
	background-color: #e0e0e0;
}

/* === Fim Empty Block === */
/* === Inicio Capacidades === */
section#capacidades .itens-capacidades {
	list-style-type: none;
	margin: 0;
	padding: 40px;
}

section#capacidades .p-capacidades {
	text-align: center;
	font-size: 18px;
}
/* === Fim Capacidades === */

/* === Inicio Portifólio === */
section#portifolio {
	background-color: #e0e0e0;
	height: 100vh;
}
/* === Fim Portifólio === */

/* === Inicio Membros === */

/* === Fim Membros === */

/* === Inicio Contato === */
section#contato {
	background-color: #e0e0e0;
}

section#contato a.redes-caixa {
	width: 100%;
	border: 1px solid #2962FF;
	display: inline-block;
	text-align: center;
	padding: 10px;
	margin: 5px;
}

section#contato a i.redes-icones {
	font-size: 22px;
	color: #2962FF;
	text-align: center;
	margin: 0;
	padding: 0;
}

section#contato a p.redes-p {
	color: #2962FF;
	font-size: 18px;
	text-align: center;
	text-decoration: none;
	margin: 0;
	padding: 0;
}
/* === Fim Contato === */